.billboard {
  height: 400px;
}

.slider-slide {
  opacity: 1;
  transition: all 0.8s ease-in-out;
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: rgb(220, 234, 159);
}

.slider-slide.hover {
  opacity: 0;
  background-color: rgb(87, 106, 51);
}

.billboard:hover .slider-slide {
  opacity: 0;
}

.billboard:hover .slider-slide:hover {
  display: block;
  opacity: 1;
}
