/* 테두리 기준으로, (padidng 포함) 박스 크기 지정 */
* {
  box-sizing: border-box;
}

/* 
상태(체크인지 아닌지)에 따라 다르게 표현하고 싶을 때
상태의 변화를 어떻게 표현할 것인지 정의할 때 transition
A -> B: B에 트랜지션 추가
B -> A: ??
*/
label[for="menu"] {
  z-index: 1;
  position: absolute;
  color: #ffffff;
  background-color: #000;
  font-weight: bold;
  left: 0;
}
input ~ aside {
  background-color: midnightblue;
  color: #ffffff;
  /* height: 300px; */
  width: 200px;
  padding: 10px;
  position: fixed;
  left: -200px;
  top: 0;
  bottom: 0;
}

input:checked ~ aside {
  background-color: rgb(114, 114, 172);
  left: 0;

  transition-property: left, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;

  /* transition: background-color 1s ease-out,
    transition: color 1s ease-out,
    transition: all 1s ease-out,  */
}

/*
특정요소의 스타일이 변환되는 과정 지정.
결론적으로는 to가 됨. from부터 to가 될때까지의 결과 지정
애니메이션을 통해 to로 어떤 과정을 통해 될지를 정의 animation
*/
/*
input ~ aside {
  background-color: midnightblue;
  color: #ffffff;
  height: 300px;
  width: 200px;
  padding: 10px;
  margin-left: 20px;
  animation: menu 1s linear;
}

@keyframes menu {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 20px;
  }
}
*/
