body {
  font-family: sans-serif;
}

#app1 {
  position: absolute;
}

#app2 {
  position: absolute;
}

#app3:before {
  content: "";
  background: #000;
  width: 10px;
  height: 10px;
  /* display: block; */
  /* position: absolute; */
}

span[data-descr] {
  position: relative;
  text-decoration: underline;
  color: #00f;
  cursor: help;
}

span[data-descr]:hover::after,
span[data-descr]:focus::after {
  color: #000000;
  min-width: 200px;
  content: attr(data-descr);
  border: 1px #aaaaaa solid;
  background-color: #ffffcc;
  border-radius: 10px;
  padding: 12px;
  position: absolute;
  left: 0;
  top: 24px;
}
