html,
body {
  height: 100%;
}
.container {
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.container > div {
  flex: 1;
}
img {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 100px;
}

img.move {
  animation: sample 10s linear forwards;
}

img.move.stop {
  animation-play-state: paused;
}

@keyframes sample {
  from {
    transform: translateY(1px);
  }
  to {
    transform: translateY(-1000px);
  }
}
